EXPO_PUBLIC_STREAM_API_KEY=
EXPO_PUBLIC_TOKEN_SERVER_URL=http://localhost:8787
EXPO_PUBLIC_STREAM_ENABLE_TRANSCRIPTION=true
EXPO_PUBLIC_STREAM_TRANSCRIPTION_LANGUAGE=tr
EXPO_PUBLIC_MASCOT_TTS_PROVIDER=chatterbox
EXPO_PUBLIC_MASCOT_TTS_LANGUAGE=tr
EXPO_PUBLIC_MASCOT_TTS_TIMEOUT_MS=20000
